<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<head>
  <title>Formulaire</title>
</head>

<body>

  <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
  </script>

  <form action="https://desolate-dusk-64146.herokuapp.com/completeFormWTL" method="POST">



<table>

    <tr>
        <th><label for="last_name">Nom</label></th>
        <th><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" required/></th>
    </tr>
     <tr>
        <th><label for="first_name">Prénom</label></th>
        <th><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" required/></th>
    </tr>
    <tr>
        <th><label for="email">Email</label></th>
        <th><input  id="email" maxlength="80" name="email" size="20" type="email" required/></th>
    </tr>
    <tr>
        <th><label for="company">Compagnie</label></th>
        <th><input  id="company" maxlength="40" name="company" size="20" type="text" required/></th>
    </tr>
    <tr>
        <th><label for="city">Ville</label></th>
        <th><input  id="city" maxlength="40" name="city" size="20" type="text" /></th>
    </tr>
    <tr>
        <th><label for="mobile">N° téléphone</label></th>
        <th><input  id="mobile" maxlength="40" name="mobile" size="20" type="number" required/></th>
    </tr>
    <tr>
        <th></th>
        <th><input  id="fbid" maxlength="40"  name="00N0Y00000NsbvF" size="20" type="hidden" required/></th>
    </tr>
    <tr>
        <th></th>
        <th><input  id="description" maxlength="40" name="description" size="20" type="hidden" value="From FACEBOOK" required/></th>
    </tr>
    <tr>
        <th></th>
        <th><input  id="senderID" maxlength="40" name="facebookID__c" size="20" type="hidden" value=<%= senderID %> required/></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th><input type="submit" name="submit"></th>
    </tr>
</table>

</form>



</body>
