<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->



  <head>
    <title>Formulaire</title>
  </head>

<body>


  <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

  <input type=hidden name="oid" value="00D0Y000002jzJR">
  <input type=hidden name="retURL" value="http://https://desolate-dusk-64146.herokuapp.com/formWTL">

  <!--  ----------------------------------------------------------------------  -->
  <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
  <!--  these lines if you wish to test in debug mode.                          -->
  <!--  <input type="hidden" name="debug" value=1>                              -->
  <!--  <input type="hidden" name="debugEmail"                                  -->
  <!--  value="chatbot.neoxia@gmail.com">                                       -->
  <!--  ----------------------------------------------------------------------  -->


<table>

    <tr>
        <th><label for="last_name">Nom</label></th>
        <th><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" required/></th>
    </tr>
     <tr>
        <th><label for="first_name">Prénom</label></th>
        <th><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" required/></th>
    </tr>
    <tr>
        <th><label for="email">Email</label></th>
        <th><input  id="email" maxlength="80" name="email" size="20" type="email" required/></th>
    </tr>
    <tr>
        <th><label for="company">Compagnie</label></th>
        <th><input  id="company" maxlength="40" name="company" size="20" type="text" required/></th>
    </tr>
    <tr>
        <th><label for="city">Ville</label></th>
        <th><input  id="city" maxlength="40" name="city" size="20" type="text" /></th>
    </tr>
    <tr>
        <th><label for="mobile">N° téléphone</label></th>
        <th><input  id="mobile" maxlength="40" name="mobile" size="20" type="number" required/></th>
    </tr>
    <tr>
        <th></th>
        <th><input  id="fbid" maxlength="40"  name="00N0Y00000NsbvF" size="20" type="hidden" required/></th>
    </tr>
    <tr>
        <th></th>
        <th><input  id="description" maxlength="40" name="description" size="20" type="hidden" required/></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th><input type="submit" name="submit"></th>
    </tr>
</table>

</form>

</body>
